body {
    font-family: Times new roman;
    margin-top: 75px;
    background-color:olive;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

