body {
    font-family: Times new roman;
    margin-top: 75px;
    background-color:wheat;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    width:300px;
}
.text-color
{
    color:blue;
}